.container-candidates{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.candidate-container{
  border: thin solid #000;
  background-color: darkorange;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.candidate-container .candidate-icon{
  height:30px;
  width:30px;
}
.container-app{
  height: 90vh;
  width: 90%;
  margin: auto;
}